src/
test/
tests/
spec/
specs/
.git/
.gitignore
.github/
.babelrc
.eslintrc
jest.config.*
tsconfig.json
tsconfig.*.json
*.tsbuildinfo
.editorconfig
.prettierrc
.prettierignore
yarn.lock
package-lock.json
pnpm-lock.yaml
.npmrc
CONTRIBUTING.md
CODE_OF_CONDUCT.md
.travis.yml
.circleci/
.github/workflows/
